In [1]:
import numpy as np 
import pandas as pd

In [2]:
# 각 데이터셋 다시 읽기
cleveland_df = pd.read_csv('/home/eungyeop/LLM/tabular/ProtoLLM/dataset/data/table/hearts/cleveland_binary.csv')
hungarian_df = pd.read_csv('/home/eungyeop/LLM/tabular/ProtoLLM/dataset/data/table/hearts/hungarian_binary.csv')
swiss_df = pd.read_csv('/home/eungyeop/LLM/tabular/ProtoLLM/dataset/data/table/hearts/switzerland_binary.csv')

# 각 데이터셋에서 'num' 컬럼 삭제
cleveland_df = cleveland_df.drop('num', axis=1)
hungarian_df = hungarian_df.drop('num', axis=1)
swiss_df = swiss_df.drop('num', axis=1)

# 다시 저장
cleveland_df.to_csv('/home/eungyeop/LLM/tabular/ProtoLLM/dataset/data/table/hearts/cleveland_binary.csv', index=False)
hungarian_df.to_csv('/home/eungyeop/LLM/tabular/ProtoLLM/dataset/data/table/hearts/hungarian_binary.csv', index=False)
swiss_df.to_csv('/home/eungyeop/LLM/tabular/ProtoLLM/dataset/data/table/hearts/switzerland_binary.csv', index=False)

# 확인
print("Cleveland 컬럼:", cleveland_df.columns.tolist())
print("Hungarian 컬럼:", hungarian_df.columns.tolist())
print("Swiss 컬럼:", swiss_df.columns.tolist())

KeyError: "['num'] not found in axis"

In [43]:
cleveland_binary = pd.read_csv("/home/eungyeop/LLM/tabular/ProtoLLM/dataset/data/table/hearts/cleveland_binary.csv")
heart_statlog = pd.read_csv("/home/eungyeop/LLM/tabular/ProtoLLM/dataset/data/table/hearts/heart_statlog.csv")
hungary_binary = pd.read_csv("/home/eungyeop/LLM/tabular/ProtoLLM/dataset/data/table/hearts/hungarian_binary.csv")
switzerland_binary = pd.read_csv("/home/eungyeop/LLM/tabular/ProtoLLM/dataset/data/table/hearts/switzerland_binary.csv")
heart_binary = pd.read_csv("/home/eungyeop/LLM/tabular/ProtoLLM/dataset/data/table/hearts/heart_binary.csv")

In [44]:
cleveland_binary

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target_binary
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,1
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45.0,1.0,1.0,110.0,264.0,0.0,0.0,132.0,0.0,1.2,2.0,0.0,7.0,1
299,68.0,1.0,4.0,144.0,193.0,1.0,0.0,141.0,0.0,3.4,2.0,2.0,7.0,1
300,57.0,1.0,4.0,130.0,131.0,0.0,0.0,115.0,1.0,1.2,2.0,1.0,7.0,1
301,57.0,0.0,2.0,130.0,236.0,0.0,2.0,174.0,0.0,0.0,2.0,1.0,3.0,1
302,38.0,1.0,3.0,138.0,175.0,0.0,0.0,173.0,0.0,0.0,1.0,NaN,3.0,0

In [45]:
hungary_binary

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target_binary
0,28,1,2,130.0,132.0,0.0,2.0,185.0,0.0,0.0,NaN,NaN,NaN,0
1,29,1,2,120.0,243.0,0.0,0.0,160.0,0.0,0.0,NaN,NaN,NaN,0
2,29,1,2,140.0,NaN,0.0,0.0,170.0,0.0,0.0,NaN,NaN,NaN,0
3,30,0,1,170.0,237.0,0.0,1.0,170.0,0.0,0.0,NaN,NaN,6.0,0
4,31,0,2,100.0,219.0,0.0,1.0,150.0,0.0,0.0,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,52,1,4,160.0,331.0,0.0,0.0,94.0,1.0,2.5,NaN,NaN,NaN,1
290,54,0,3,130.0,294.0,0.0,1.0,100.0,1.0,0.0,2.0,NaN,NaN,1
291,56,1,4,155.0,342.0,1.0,0.0,150.0,1.0,3.0,2.0,NaN,NaN,1
292,58,0,2,180.0,393.0,0.0,0.0,110.0,1.0,1.0,2.0,NaN,7.0,1
293,65,1,4,130.0,275.0,0.0,1.0,115.0,1.0,1.0,2.0,NaN,NaN,1

In [48]:
switzerland_binary['ca'].value_counts()

ca
2.0    3
1.0    2
Name: count, dtype: int64

In [36]:
heart_statlog

,age,sex,chest_pain,resting_bp,cholesterol,fasting_blood_sugar,rest_ecg,max_heart_rate,exercise_angina,oldpeak,slope,colored_vessels,thal,target,target_binary
0,70.0,1.0,4.0,130.0,322.0,0.0,2.0,109.0,0.0,2.4,2.0,3.0,3.0,2,1
1,67.0,0.0,3.0,115.0,564.0,0.0,2.0,160.0,0.0,1.6,2.0,0.0,7.0,1,0
2,57.0,1.0,2.0,124.0,261.0,0.0,0.0,141.0,0.0,0.3,1.0,0.0,7.0,2,1
3,64.0,1.0,4.0,128.0,263.0,0.0,0.0,105.0,1.0,0.2,2.0,1.0,7.0,1,0
4,74.0,0.0,2.0,120.0,269.0,0.0,2.0,121.0,1.0,0.2,1.0,1.0,3.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,52.0,1.0,3.0,172.0,199.0,1.0,0.0,162.0,0.0,0.5,1.0,0.0,7.0,1,0
266,44.0,1.0,2.0,120.0,263.0,0.0,0.0,173.0,0.0,0.0,1.0,0.0,7.0,1,0
267,56.0,0.0,2.0,140.0,294.0,0.0,2.0,153.0,0.0,1.3,2.0,0.0,3.0,1,0
268,57.0,1.0,4.0,140.0,192.0,0.0,0.0,148.0,0.0,0.4,2.0,0.0,6.0,1,0
269,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2,1

In [33]:
# 데이터 읽기
heart_df = pd.read_csv('/home/eungyeop/LLM/tabular/ProtoLLM/dataset/data/table/hearts/heart.csv')

# HeartDisease 컬럼을 target_binary로 변환
heart_df['target_binary'] = heart_df['HeartDisease'].map({'no': 0, 'yes': 1})

# HeartDisease 컬럼과 Unnamed 컬럼들 삭제
heart_df = heart_df.drop('HeartDisease', axis=1)
# Unnamed로 시작하는 모든 컬럼 삭제
heart_df = heart_df.loc[:, ~heart_df.columns.str.contains('^Unnamed')]

# CSV로 저장
heart_df.to_csv('/home/eungyeop/LLM/tabular/ProtoLLM/dataset/data/table/hearts/heart_binary.csv', index=False)

# 확인
print("데이터 컬럼들:", heart_df.columns.tolist())
print("\nBinary label 분포:")
print(heart_df['target_binary'].value_counts())

데이터 컬럼들: ['Age', 'Sex', 'ChestPainType', 'RestingBP', 'Cholesterol', 'FastingBS', 'RestingECG', 'MaxHR', 'ExerciseAngina', 'Oldpeak', 'ST_Slope', 'target_binary']

Binary label 분포:
target_binary
1    508
0    410
Name: count, dtype: int64

In [34]:
heart_binary = pd.read_csv("/home/eungyeop/LLM/tabular/ProtoLLM/dataset/data/table/hearts/heart_binary.csv")

In [35]:
heart_binary

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,target_binary
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [49]:
# 각 데이터셋의 NaN 상황 확인
datasets = {
    'Cleveland': pd.read_csv('/home/eungyeop/LLM/tabular/ProtoLLM/dataset/data/table/hearts/cleveland_binary.csv'),
    'Hungarian': pd.read_csv('/home/eungyeop/LLM/tabular/ProtoLLM/dataset/data/table/hearts/hungarian_binary.csv'),
    'Switzerland': pd.read_csv('/home/eungyeop/LLM/tabular/ProtoLLM/dataset/data/table/hearts/switzerland_binary.csv'),
    'Statlog': pd.read_csv('/home/eungyeop/LLM/tabular/ProtoLLM/dataset/data/table/hearts/heart_statlog.csv'),
    'Heart': pd.read_csv('/home/eungyeop/LLM/tabular/ProtoLLM/dataset/data/table/hearts/heart_binary.csv')
}

for name, df in datasets.items():
    print(f"\n{name} 데이터셋 NaN 개수:")
    print(df.isnull().sum())
    print(f"\n{name} 데이터셋 shape:", df.shape)

Cleveland 데이터셋 NaN 개수:
age              0
sex              0
cp               0
trestbps         0
chol             0
fbs              0
restecg          0
thalach          0
exang            0
oldpeak          0
slope            0
ca               4
thal             2
target_binary    0
dtype: int64

Cleveland 데이터셋 shape: (303, 14)

Hungarian 데이터셋 NaN 개수:
age                0
sex                0
cp                 0
trestbps           1
chol              23
fbs                8
restecg            1
thalach            1
exang              1
oldpeak            0
slope            190
ca               291
thal             266
target_binary      0
dtype: int64

Hungarian 데이터셋 shape: (294, 14)

Switzerland 데이터셋 NaN 개수:
age                0
sex                0
cp                 0
trestbps           2
chol               0
fbs               75
restecg            1
thalach            1
exang              1
oldpeak            6
slope             17
ca               118
thal              52
target_binary      0
dtype: int64

Switzerland 데이터셋 shape: (123, 14)

Statlog 데이터셋 NaN 개수:
age                    0
sex                    0
chest_pain             0
resting_bp             0
cholesterol            0
fasting_blood_sugar    0
rest_ecg               0
max_heart_rate         0
exercise_angina        0
oldpeak                0
slope                  0
colored_vessels        0
thal                   0
target                 0
target_binary          0
dtype: int64

Statlog 데이터셋 shape: (270, 15)

Heart 데이터셋 NaN 개수:
Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
target_binary     0
dtype: int64

Heart 데이터셋 shape: (918, 12)

In [ ]:
cleveland_binary = pd.read_csv("/home/eungyeop/LLM/tabular/ProtoLLM/dataset/data/table/hearts/cleveland_binary.csv")
heart_binary = pd.read_csv("/home/eungyeop/LLM/tabular/ProtoLLM/dataset/data/table/hearts/heart_binary.csv")
hungarian_binary = pd.read_csv("/home/eungyeop/LLM/tabular/ProtoLLM/dataset/data/table/hearts/hungarian_binary.csv")
switzerland_binary = pd.read_csv("/home/eungyeop/LLM/tabular/ProtoLLM/dataset/data/table/hearts/switzerland_binary.csv")
heart_statlog = pd.read_csv("/home/eungyeop/LLM/tabular/ProtoLLM/dataset/data/table/hearts/heart_statlog.csv")